__pycache__/
# Service account key (secret! so don't check in!)
GOOGLE_APPLICATION_CREDENTIALS.json

# Native Rust build output
/native/target/
/native/.cargo/config.toml
/native/.cargo/Cargo.lock

# Native Android Gradle build output
/native/android-gradle/.gradle/
/native/android-gradle/build/
/native/android-gradle/app/build/