body {
    height: 100%;
    margin: 0px;
    font-size: xx-large;
    overflow: hidden;  /* Prevent scroll bars from appearing when doing hack in onOverlayClick */
    touch-action: none; /* Prevent double-clicking to zoom on mobile, as often this happens while using the normal UI. */
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    user-select: none; /* Otherwise for example clicking a lot can make the whole page blue */
}

#loading-status {
    /* As well as being displayed when no video is loaded yet, this needs to display properly on top of the blockers when
       there is an error loading a video. So it needs absolute position etc. so it's on top */
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    background:white;
}

#player {
    height: 100%;
    width: 100%;
}

#player-overlay {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
}

.blocker {
    width: 100%;
    background: black;
    position: absolute;
    color: white;
    pointer-events: none;
    display: none;
}
#blocker-top {
    top: 0px;
    /* height: This is dependent on YouTube vs. Twitch, so is set in code */
}
#blocker-bottom {
    /* height: This is dependent on YouTube vs. Twitch, so is set in code */
    bottom: 0px;
}
#blocker-full {
    height: 100%;
    bottom: 0px;
}

#player-overlay-controls {
    display: flex; /* Initially displayed so that user can see the Change Video button */
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
}

#player-overlay-controls-top {
    margin-left: auto; /* Align to the right */
}

#menu-button {
    width: 6em;
    font-size: xx-large;
}

#menu {
    display: none;
    background-color: white;
    position: absolute;
    right: 0px;
    /* Some annoying CSS to deal with the case when the menu is too tall to fit on the page, so that it can be scrolled */
    /* This is complicated because we want the top of the menu to be just below the Menu button */
    overflow-y: auto;
    max-height: calc(100% - 1.5em); /* In case the menu is taller than the viewport, make it scroll. Subtract 1.5em for height of the Menu button */
}

#menu button {
    display: block;
    font-size: xx-large;
    width: 100%;
    text-align: left;
}

#saved-positions-this-video-header,#saved-positions-other-videos-header {
    display: none; /* Initially hidden, until we fetch from server */
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.spinner {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-top: 1px black solid;
    border-radius: 50%;
    vertical-align: text-bottom;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#saved-positions-this-video,#saved-positions-other-videos {
    padding-left: 30px;
}

#player-overlay-controls-mid {
    display: none; /* Initially hidden until a video is loaded */
    max-width: 100%; /* For when the window is really narrow */
     /* For when the window is really short */
    max-height: 50%;
    overflow: hidden;
}
#player-overlay-controls-mid button {
    font-size: xx-large;
    width: 5em;
    height: 5em;
}
#play-pause-button {
    background-image: url('play.png');
    background-size: cover;
    background-color: white;
}
#fullscreen-button {
    background-image: url('fullscreen.png');
    background-size: cover;
    background-color: white;
}

#player-overlay-controls-bot {
    display: none; /* Initially hidden until a video is loaded */
    align-items: flex-end;
    justify-content: center; /* Only makes a difference once wrapped */
    width: 100%; /* Otherwise it can become wider than the parent and the shrinking properties on the children don't work as we want */
}
#player-overlay-controls-bot button {
    flex-shrink: 1;  /* Shrink on narrow display (e.g. portrait phone) */
    min-width: 0; /* Otherwise won't shrink beyond a certain value */
    font-size: min(5vw, 50px); /* Scale font size with width */
}
#player-overlay-controls-bot-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: min(5vw, 50px); /* Scale font size with width */
}

#current-time-span {
    cursor: pointer;
    background-color: white;
    margin: 0.1em;
}

#quality-text {
    background:white;
}